header {
    background-color: #d7d7d7;
    padding-bottom: 3rem;
}

.Remodeled {
    padding: 10%;
}

p#first {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px #000
}

p#third {
    /*margin: auto;*/
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px #000;
    color: white;
}

.Remodeled {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
}

button#click {
    border: 2px solid;
    border-radius: 5px;
}

footer {
    background-color: #d7d7d7;
    padding-bottom: 12rem;
}
