header {
    background-color: #d7d7d7;
    padding-bottom: 3rem;
}

.Remodeled {
    padding: 10%;
}

p#first {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    background: gray;
    font-size: 3em;
}

p#background {
    background: gray;
}

p#third {
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px white;
}

footer {
    background-color: #d7d7d7;
    padding-bottom: 12rem;
}
