p {
    font-family: 'Shadows Into Light', cursive;
}

header {
    background-color: #d7d7d7;
    padding-bottom: 3rem;
    box-shadow: 2px 2px 2px #000;
}

p#first {
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px #000;
    text-align: center;
}

p#third {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px #000;
    color: white;
}

.Remodeled {
  text-align: center;
  font-size: 2em;
  padding: 1%;
}

button#click {
    border: 2px solid;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1em;
}

button#click:hover {
    background: white;
}

footer {
    background-color: #d7d7d7;
    padding-bottom: 12rem;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 410px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}


/*Media Queries*/

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
